---
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Astro + React + Vue</title>
  </head>
  <body>
    <Header title="Astro Islands" />
    <section>
      <slot />
    </section>
  </body>
</html>
